In [16]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A","B","C"], index=["x", "y", "z","a"])

In [17]:
df.head()

    A   B   C
x   1   2   3
y   4   5   6
z   7   8   9
a  10  11  12

In [18]:
df.index.to_list()

['x', 'y', 'z', 'a']

In [19]:
df.describe()

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [20]:
df.nunique()

A    4
B    4
C    4
dtype: int64

In [21]:
df["A"].unique()

array([ 1,  4,  7, 10])

In [22]:
df.shape

(4, 3)